<header style="width: 100%; padding: 0; margin: 0;">
    <nav style="background-color: burlywood; padding: 1rem; margin: 0;">
        <ul style="display: flex; justify-content: space-between; padding: 0; margin: 0; list-style-type: none;">
            <li style="text-decoration: underline; color: cadetblue;">Home</li>
            <li style="text-decoration: underline; color: cadetblue;">About me</li>
            <li style="text-decoration: underline; color: cadetblue;">Contact</li>
        </ul>
    </nav>
</header>